<!DOCTYPE html>
<html>
<head>
	<title>DBC Cities</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>Cities with DBC Campuses</h1>
<ul>
	<li>New York City</li>
	<li>Chicago</li>
	<li>Austin</li>
	<li>San Francisco</li>
	<li>San Diego</li>
	<li>Seattle</li>
	<li>Washington DC</li>
</ul>
</body>
</html>