* {
  font-family: Helvetica;

}
article p {
padding-left: 5px;  
}

article ul {
padding-left: 35px;    
}

article details {
padding-left: 25px;    
}

h2 {
  color: #cc00ff;

}
header {
  background: gray;
  padding: 5px;
}

footer {
  background: gray;
  padding: 5px;
}

.column-1 {
  display: inline-block;
  vertical-align: top;
  max-width: 48%;
  padding: 5px;
}

.column-2 {
  display: inline-block;
  vertical-align: top;
  max-width: 48%;
  padding: 5px;
}